body {
	font-family: "Gilroy";
	overflow-x: hidden;
	color: var(--black);
}

p {
	line-height: 1.2;
}

select,
input,
textarea {
	outline: none;
	color: var(--gray);
	border-radius: 5px;
	padding: 0.8rem;
	border: 1px solid var(--light-gray);
	font-size: 0.9rem;
}

textarea {
	resize: none;
}

::placeholder {
	font-weight: 400;
	color: #737373;
	font-size: 0.875rem;
}

hr {
	border: 1px solid var(--light-gray);
}

button {
	font-family: "Gilroy";
	appearance: none;
	outline: none;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

/* ***** LOGIN & REGISTER PAGE START ***** */
#login,
#register {
	display: flex;
	gap: 4rem;
	align-items: center;
}

#login > *,
#register > * {
	flex: 1;
}

.login-image,
.register-image {
	position: relative;
	aspect-ratio: 1;
}

.login-image .login-image-main,
.register-image .register-image-main {
	width: 100%;
	object-fit: cover;
}

.login-form,
.register-form {
	margin: auto;
	width: 100%;
}

.login-form h1,
.register-form h1 {
	text-align: center;
	font-size: 1.75rem;
	font-weight: bold;
}

.login-form p,
.register-form p {
	margin: auto;
	margin-top: 1rem;
	font-weight: 500;
	text-align: center;
}
/* ***** LOGIN & REGISTER PAGE END ***** */

/* ***** HOME PAGE START ***** */
/* navbar start */
#navbar-container {
	position: fixed;
	top: 0;
	width: 100vw;
	left: 0;
	z-index: 99;
	height: 100px;
	display: flex;
	align-items: center;
	transition: 0.3s;
}

#navbar-container.scrolled {
	background: white;
	height: 80px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

#navbar-container .container {
	width: 100%;
}

.navbar {
	display: flex;
	gap: 2rem;
	align-items: center;
	color: var(--primary);
}

.nav-logo {
	font-weight: 800;
	font-size: 1.5rem;
}

.nav-info {
	width: 100%;
	align-items: center;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	gap: 1rem;
	font-weight: 500;
}

.nav-links a,
.page-links a {
	position: relative;
}

.nav-links a::before,
.page-links a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: var(--primary);
	bottom: -5px;
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform 0.3s;
	border-radius: 1000px;
}

.page-links a::before {
	background: var(--dim-white);
}

.nav-links a:hover::before,
.page-links a:hover::before,
.nav-links a.active::before {
	transform: scaleX(1);
	transform-origin: left center;
}

.nav-action {
	display: flex;
	gap: 2rem;
	margin-left: auto;
	align-items: center;
}

.flag-selection {
	display: flex;
	gap: 0.5rem;
}

.flag {
	overflow: hidden;
	width: 30px;
	height: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar .flag {
	border-radius: 50%;
}

.flag .red {
	width: 100%;
	height: 50%;
	background: red;
}

.flag .white {
	width: 100%;
	height: 50%;
	background: white;
}

.navbar #country {
	outline: none;
	padding: 0;
	background: none;
	border: none;
	font-weight: 700;
	color: var(--primary);
}

.burger {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 8px;
	width: 30px;
	z-index: 9999;

	display: none;
}

.burger span {
	width: 100%;
	height: 2px;
	background: var(--primary);
	border-radius: 1000px;
	transition: 0.3s;
}

.burger span:first-child {
	transform-origin: left bottom;
}

.burger span:last-child {
	transform-origin: left top;
}

.burger.open span:first-child {
	rotate: 41deg;
}

.burger.open span:nth-child(2) {
	translate: 40px;
	opacity: 0;
}

.burger.open span:last-child {
	rotate: -41deg;
}
/* navbar end */

/* hero section start */
#hero {
	display: flex;
	color: var(--primary);
	align-items: center;
	position: relative;
	gap: 2rem;
}

#hero::after {
	content: "";
	position: absolute;
	top: -20%;
	right: -57%;
	width: 100%;
	height: 140%;
	background: var(--secondary-light);
	z-index: -2;
}

.hero-content {
	flex: 1;
}

#hero h1 {
	font-size: 4rem;
	line-height: 1.2;
	font-weight: 700;
}

#hero h2 {
	margin-top: 0.5rem;
	font-size: 3rem;
	font-weight: 700;
}

#hero p {
	line-height: 1.5;
	font-weight: 600;
	margin-block: 2rem;
	color: var(--black);
}

.hero-image {
	position: relative;
	z-index: -1;
	flex: 1;
	position: relative;
	max-width: 583px;
}

.hero-image .image {
	z-index: 10;
	position: relative;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.shape1,
.shape2,
.shape3 {
	position: absolute;
}

.shape1 {
	top: 15%;
	left: -1%;
}

.shape2 {
	top: 0;
	right: 0;
}

.shape3 {
	bottom: 10%;
	right: 0;
}
/* hero section end */

/* benefits section start */
#benefits-bg {
	position: relative;
	height: 225px;
	margin-top: -35px;
	overflow: hidden;
}

#benefits {
	display: flex;
	justify-content: space-between;
	color: var(--white);
}

.benefit {
	max-width: 400px;
	display: flex;
	gap: 0.8rem;
	flex-direction: column;
}

.benefit h2 {
	font-size: 2.8125rem;
	font-weight: 600;
	line-height: 1.1;
}

.benefit p {
	max-width: 300px;
	line-height: 1.5;
}

.first-benefit {
	align-items: flex-end;
	text-align: right;
}

.second-benefit {
	align-items: flex-start;
	text-align: left;
}
/* benefits section end */

/* products section start */
.cards-action {
	margin-block: 2rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.cards-action .filters {
	display: flex;
	gap: 1rem;
	max-width: 1000px;
	overflow-x: auto;
}

.cards-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

.cards-list.list-rows {
	grid-template-columns: 1fr;
}

.cards-list.list-rows .card {
	display: flex;
	gap: 2rem;
}

.card {
	border-radius: 12px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	position: relative;
}

.card .card-thumb {
	height: 250px;
	border-radius: 10px;
	overflow: hidden;
}

.cards-list.list-rows .card .card-thumb {
	height: auto;
	width: 150px;
}

.card .card-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .card-content {
	padding: 1.5rem 0.5rem;
}

.cards-list.list-rows .card .card-content {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.card .card-content .card-title {
	font-weight: 700;
}

.card .card-content .card-highlighter {
	margin-top: 0.5rem;
	color: var(--gray);
	font-weight: 600;
	text-transform: capitalize;
	font-size: 0.875rem;
}

.card .card-content .card-description {
	font-weight: 700;
	color: var(--primary);
}

.card .card-content .card-description .product-price {
	color: var(--accent);
}

.card .card-button {
	padding: initial;
	width: 40px;
	height: 40px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-like {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: rgba(255, 255, 255, 0.5);
	color: var(--accent);
	border-radius: 8px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* products section end */

/* testimonial section start */
.testimonial-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.testimonial-card {
	padding: 1rem;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 10px;
}

.testimonial-card > p {
	font-size: .875rem;
	line-height: 1.5;
}

.testimonial-user {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.testimonial-about-user {
	display: flex;
	flex-direction: column;
	gap: .2rem;
}

.testimonial-about-user p {
	font-size: .87rem;
}

.testimonial-user img {
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	object-fit: contain;
}
/* testimonial section end */

/* membership section start */
#membership {
	padding: 0 2rem 0 4rem;
	border-radius: 1rem;
	background: var(--primary);
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 400px;
}

#membership::before {
	content: "";
	position: absolute;
	background: var(--secondary-light);
	border-radius: 100px;
	z-index: -1;

	width: 1000px;
	height: 600px;
	rotate: -23deg;
	top: -40%;
	left: -35%;
}

#membership::after {
	content: "";
	position: absolute;
	background: #5c76a4;
	border-radius: 100px;
	z-index: -1;

	width: 850px;
	height: 600px;
	rotate: -27deg;
	bottom: -100%;
	right: -12%;
}

.membership-content h2 {
	font-weight: 800;
	font-size: 3.25rem;
	color: var(--primary);
}

.membership-content h3 {
	text-wrap: nowrap;
	margin-top: 1rem;
	font-size: 2.25rem;
	font-weight: 800;
	color: var(--primary);
}

.membership-content p {
	margin-block: 1.5rem;
	color: var(--black);
	font-weight: 500;
	line-height: 1.5;
	font-size: 1rem;
	max-width: 450px;
}

.membership-thumb {
	max-height: 400px;
}
/* membership section end */

/* your voucher section start */
.voucher-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.voucher-card {
	border-radius: 10px;
	overflow: hidden;
	background: white;
	padding: 1.5rem;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.voucher-card h3 {
	font-weight: 700;
	font-size: 1.75rem;
}

.voucher-card h4 {
	text-transform: uppercase;
	font-size: .875rem;
	font-weight: 600;
}

.voucher-copy {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
 
.voucher-copy > p {
	color: #163ED4;
	font-weight: 500;
}

.voucher-card ul {
	list-style: disc;
	margin-left: 40px;
	color: #8B94B2;
	line-height: 1.25rem;
}

.voucher-card ul li {
	margin-top: .25rem;
}
/* your voucher section end */

/* order steps section start */
.steps {
	display: flex;
	gap: 1.5rem 1rem;
	flex-wrap: wrap;
	margin-top: 4rem;
}

.step {
	flex: 1 0 200px;
	display: flex;
	gap: 1rem;
}

.step .step-number {
	color: var(--secondary);
	font-size: 2.5rem;
	font-weight: 700;
	min-width: 35px;
	font-family: "Montserrat";
}

.step .step-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.step-content h4 {
	line-height: 1.2;
	font-size: 1.05rem;
	font-weight: 700;
}
/* order steps section end */

/* about section start */
#about {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.about-content {
	flex: 1;
	max-width: 550px;
}

.about-content h2 {
	font-size: 3rem;
	color: var(--primary);
	font-weight: 700;
	margin-bottom: 1rem;
	line-height: 1.3;
}

.about-content p {
	font-weight: 500;
	line-height: 1.5;
	color: var(--black);
}

.about-thumb {
	flex: 1;
	justify-content: center;
	display: flex;
	gap: 1rem;
	height: 500px;
}

.about-thumb img {
	height: 100%;
	object-fit: cover;
}
/* about section end */

/* footer section start */
#footer-container {
	/* border-radius: 30px 30px 0 0; */
	background: var(--primary);
	color: var(--dim-white);
}

.footer-links {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgba(153, 162, 165, 0.6);
}

.footer-links .page-links {
	display: flex;
	gap: 1rem;
}

.footer-links .social-medias {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.footer-info {
	margin-block: 3rem;
	display: flex;
	gap: 3rem 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-info h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: white;
}

.footer-info-right {
	max-width: 310px;
	width: 100%;
}

.footer-info-right .content-split {
	gap: .5rem;
}

.footer-info-right .content-split h5 {
	max-width: 200px;
}

.footer-info-right .content-split > * {
	max-width: max-content;
	color: var(--white) !important;
}

.footer-info-left {
	max-width: 300px;
}

.footer-info-left p {
	margin-top: 0.8rem;
	font-size: 0.875rem;
}

.footer-copyright {
	font-size: 0.875rem;
}

.footer-copyright .copyright-text {
	font-weight: 600;
}

.footer-copyright .copyright-links {
	display: flex;
	gap: 1rem;
}

/* footer section end */
/* ***** HOME PAGE END ***** */

/* ***** SHOP PAGE START ***** */
/* dropdown filter start */
.dropdown-filter:first-child {
	margin-top: 3rem;
}

.dropdown-filter {
	border-top: 1px solid var(--light-gray);
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

.dropdown-filter-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	height: max-content;
}

.dropdown-filter-header h4 {
	font-weight: 700;
}

.dropdown-filter-items {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	max-height: 0;
	transition: 0.3s;
}

.dropdown-filter-items.open {
	margin-top: 1.5rem;
	max-height: 400px;
}

.dropdown-filter-items button.see-all {
	color: var(--accent-two);
}
/* dropdown filter end */

/* catalog section start */
#catalog {
	display: flex;
	gap: 4rem;
}

.catalog-sidebar {
	flex: 1;
}

.catalog-products {
	flex: 4;
}

.catalog-filters-horizontal p {
	color: var(--gray);
}

#catalog-sort {
	margin-left: auto;
}

.catalog-products .cards-list {
	margin-top: 2rem;
}

.catalog-pagination {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	margin-top: 2rem;
	align-items: center;
	flex-wrap: wrap;
}
/* catalog section end */

/* shop product detail start */
#shop-product-detail {
	display: flex;
	gap: 3rem;

	--gallery-width: 580px;
	--gallery-gap: 16px;
	--subs-count: 4;
}

.shop-product-detail-gallery {
	max-width: var(--gallery-width);
	display: flex;
	flex-direction: column;
	gap: var(--gallery-gap);
	position: sticky;
	top: 100px;
	height: max-content;
}

.shop-product-detail-gallery .main {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 10px;
	overflow: hidden;
}

.subs-container {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.subs-container.mobile {
	overflow-x: auto;
}

.subs-container .navigator {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	padding: 0.5rem;
	align-items: center;
	color: white;
	cursor: pointer;
	animation: fade 0.3s forwards;
	z-index: 1000;
}

.subs-container .navigator-left {
	left: 0;
	border-radius: 8px 0 0 8px;
	box-shadow: 10px 0 5px rgba(0, 0, 0, 0.1);
}

.subs-container .navigator-right {
	right: 0;
	border-radius: 0 8px 8px 0;
	box-shadow: -10px 0 5px rgba(0, 0, 0, 0.1);
}

.subs-container .container-content {
	width: max-content;
	display: flex;
	gap: var(--gallery-gap);
	transition: 0.3s;
}

.shop-product-detail-gallery .subs {
	display: grid;
	width: var(--gallery-width);
	gap: var(--gallery-gap);
	grid-template-columns: repeat(var(--subs-count), 1fr);
}

.shop-product-detail-gallery .sub {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 10px;
	overflow: hidden;
}

.container-content.mobile .sub {
	width: 100px;
}

.shop-product-detail-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shop-product-detail-form {
	flex: 1;
}

.shop-product-detail-form .product-name {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.shop-product-detail-form .product-price {
	font-size: 2rem;
	color: var(--primary);
	font-weight: bold;
	margin-top: 1rem;
}

.shop-product-detail-form .product-description {
	color: var(--gray);
	line-height: 1.2;
	margin-top: 1rem;
}

.hover-box-container {
	position: relative;
}

.shop-product-detail-form .hover-box {
	position: absolute;
	width: 200px;
	opacity: 0;
	background: white;
	padding: 1rem 2rem;
	border-radius: 10px;
	animation: show 0.3s forwards;
	bottom: 2rem;
	right: -200px;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

.shop-product-detail-form .hover-box::after {
	content: "";
	position: absolute;
	bottom: -5%;
	left: 2rem;
	translate: 44%;
	width: 10%;
	height: 5%;
	background: white;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.hover-box img {
	width: 100%;
}

.quantity-and-add-to-bag-button {
	display: flex;
	gap: 1rem;
}

.quantity-button {
	flex: 2;
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	align-items: center;
	gap: 0.5rem;
}

.quantity-button div:first-child,
.quantity-button div:last-child {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.add-to-bag-button {
	flex: 5;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

.table-navigation {
	display: flex;
	gap: 2rem;
	justify-content: center;
	text-align: center;
}

.table-content {
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: space-between;
}

.table-content > * {
	--max-content-width: 500px;
	max-width: var(--max-content-width);
	width: 100%;
}

.table-content h3 {
	font-weight: 600;
	font-size: 1.25rem;
}

.content-split {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.content-split h5 {
	color: var(--gray);
	max-width: 150px;
	width: 100%;
}

.table-content.content-full > * {
	max-width: initial;
	flex: 1 1 var(--max-content-width);
}

.table-container {
	border: 1px solid var(--light-gray);
	overflow-y: auto;
	border-radius: 10px;
}

.table-content table {
	border-collapse: separate !important;
	border: 1px solid var(--light-gray);
	width: 100%;
	min-width: 500px;
	border-radius: 10px;
}

.table-content .table-container table,
.table-container .shopping-cart-table {
	border: none;
}

.table-content table tr th {
	vertical-align: middle;
	font-weight: 600;
	text-align: left;
	padding: 1.5rem 0.5rem;
	border-bottom: 1px solid var(--light-gray);
}

.table-content table tr th div {
	color: var(--gray);
	font-weight: 400;
}

.table-content table tr td {
	vertical-align: middle;
	padding: 1.5rem 0.5rem;
	text-align: left;
}

.table-content tr > :first-child {
	padding-left: 1rem;
}

.table-navigation button {
	position: relative;
	cursor: pointer;
	font-size: 1rem;
}

.table-navigation button.active {
	color: var(--primary);
	font-weight: 600;
}

.table-navigation button::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	width: 40%;
	left: 50%;
	translate: -50%;
	border-radius: 100px;
	background: var(--primary);
	height: 2px;
	scale: 0;
	transition: 0.3s;
}

.table-navigation button.active::after {
	scale: 1;
}
/* shop product detail end */
/* ***** SHOP PAGE END ***** */

/* ***** CONTACT PAGE END ***** */
#contact {
	display: flex;
	gap: 4rem;
}

#contact > * {
	flex: 1;
}

.contact-info h1 {
	font-weight: 700;
	font-size: 3rem;
}
/* ***** CONTACT PAGE END ***** */

/* ***** MY POIN PAGE START ***** */
.my-poin-profile {
	margin-top: 1.85rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-poin-profile h3 {
	font-size: 1.25rem;
	font-weight: 700;
}

.my-poin-profile .poin img {
	aspect-ratio: 1;
	object-fit: contain;
}

.my-poin-profile .poin p {
	font-size: 2rem;
}

.my-poin-profile-image {
	position: relative;
}

.my-poin-profile-image img {
	width: 120px;
	height: 120px;
}

.my-poin-profile-image .icon {
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--primary);
	color: var(--white);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-poin-history-cards {
	margin-top: 1rem;
	border: 1px solid var(--light-gray);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.my-poin-history-card {
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
}

.my-poin-history-card + .my-poin-history-card {
	border-top: 1px solid var(--light-gray);
}

.my-poin-history-card h4 {
	font-weight: 600;
}

/* ***** MY POIN PAGE END ***** */

/* SHOPPING CART PAGE START */
/* shopping cart table start */
.shopping-cart-table {
	border: 1px solid var(--light-gray);
	border-radius: 8px;
	min-width: 700px;
}

.shopping-cart-table > * {
	padding: 1.25rem;
}
.shopping-cart-table > * + * {
	border-top: 1px solid var(--light-gray);
}

.shopping-cart-table .table-header {
	display: flex;
	gap: 1rem;
}
.shopping-cart-table .table-header h5 {
	flex: 1 0 80px;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--gray);
}

.shopping-cart-table .table-header h5:empty {
	flex: 0.5;
}

.shopping-cart-table .table-header h5:first-child {
	flex: 3;
}

.shopping-cart-table .table-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.shopping-cart-table .table-body .table-body-row {
	display: flex;
	gap: 1rem;
}

.shopping-cart-table .table-body .table-body-col {
	flex: 1 0 80px;
	display: flex;
	align-items: center;
}

.shopping-cart-table .table-body .table-body-col:first-child {
	flex: 3;
	gap: 1rem;
}

.shopping-cart-table .table-body .table-body-col:last-child {
	flex: 0.5;
}

.shopping-cart-table .table-body .table-body-col:first-child img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
}

#shopping-cart .btn-quantity {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.shopping-cart-table .table-footer {
	display: flex;
}
/* shopping cart table end */

/* shopping cart detail start */
.shopping-cart-detail {
	display: flex;
	gap: 4rem;
}

.shopping-cart-detail .card-coupon {
	flex: 8;
}

.shopping-cart-detail .card-coupon {
	flex: 5;
	height: max-content;
}

.shopping-cart-detail .cart-total {
	flex: 3;
}

.shopping-cart-detail h2 {
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.125rem;
}
/* shopping cart detail end */

/* success add to cart popup start */
.popup-cart {
	color: var(--black);
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	padding: 1rem;
	box-sizing: border-box;
}

.popup-cart h2 {
	font-weight: 700;
	font-size: 1.25rem;
}

.popup-cart .popup-cart-content {
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border-radius: 8px;
	background: white;
	padding: 1.5rem;
	width: 100%;
	max-width: 400px;
}

.popup-cart .popup-cart-products {
	max-height: 400px;
	overflow-y: auto;
}

.popup-cart .popup-cart-product {
	max-height: 600px;
	display: flex;
}

.popup-cart .popup-cart-product + .popup-cart-product {
	margin-top: 1rem;
}

.popup-cart .popup-cart-product img {
	width: 80px;
	height: 80px;
	border-radius: 8px;
}

.popup-cart-product-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
}

.popup-cart-product-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.popup-cart-product-title h3 {
	font-weight: bold;
}

.popup-cart-product-price {
	color: var(--primary);
	font-weight: bold;
}
/* success add to cart popup end */
/* SHOPPING CART PAGE END */

/* CHECKOUT PAGE START */
#checkout {
	display: flex;
	gap: 4rem;
}

.checkkout-summary {
	flex: 2;
}

.checkout-summary h2 {
	font-weight: 600;
	font-size: 1.25rem;
}

.summary-products {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-height: 400px;
	overflow-y: auto;
}

.summary-product {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.summary-product-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	gap: 1rem;
}

.summary-product p {
	font-size: 0.9rem;
	font-weight: 600;
}

.summary-product img {
	width: 50px;
	height: 50px;
	border-radius: 8px;
}

.checkout-content {
	flex: 5;
}

.checkout-content-body h2 {
	font-weight: bold;
	color: var(--primary);
	font-size: 1.25rem;
}

/* checkout billing information start */
.flag-phone {
	display: flex;
	border: 1px solid var(--light-gray);
	align-items: center;
	border-radius: 5px;
	padding-left: 0.8rem;
}

.flag-phone .flag {
	height: 20px;
	border-radius: 2px;
}

.flag-phone select {
	border: none;
}
/* checkout billing information end */

/* checkout success start */
#checkout-success h3 {
	font-weight: 700;
	font-size: 1.15rem;
}

/* checkout success end */
/* CHECKOUT PAGE END */
