.container {
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.container-sidebar {
	display: flex;
	gap: 2rem;
}

.container-sidebar-content {
	display: flex;
	gap: 2rem;
}

.container-sidebar h2.container-sidebar-title {
	font-weight: 700;
	font-size: 1.5rem;
}

.container-sidebar .container-sidebar-left {
	flex: 2;
}

.container-sidebar .container-sidebar-right {
	flex: 6;
}

.fill-container {
	background: var(--primary);
}

.stars {
	display: flex;
	gap: 0.5rem;
}

.stars-filled {
	color: #f6c54d;
}

.stars-empty {
	color: #d9dbdf;
}

.section-header {
	display: flex;
	width: 100%;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.section-header .title {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.section-header .title h2 {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--primary);
}

.section-header .title h3 {
	font-weight: 600;
	font-size: 1rem;
	color: var(--black);
}

.page-header {
	color: white;
	position: relative;
	height: 335px;
}

.page-header .container {
	padding-block: initial;
	height: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page-header-nav .container {
	padding-block: 1rem;
	color: white;
}

.page-header .container h1 {
	font-size: 3rem;
	font-family: "Poppins";
	font-weight: 500;
	text-align: center;
}

.page-header .container p,
.page-header-nav .container p {
	display: flex;
	gap: 0.5rem;
	font-weight: 500;
	text-transform: capitalize;
	align-items: center;
}

.page-header .container p .last,
.page-header-nav .container p .last {
	font-weight: 300;
}

.page-header-nav .container p i {
	font-size: 0.5rem;
}

.input-box {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.input-box label:not(.btn) {
	font-weight: 500;
}

.input-icon {
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.input-icon input {
	width: 100%;
	border: none;
	padding: initial;
	color: var(--black);
}

.btn {
	--bg: var(--primary);
	font-weight: 600;
	background: var(--bg);
	color: white;
	border-radius: 1000px;
	padding: 0.875rem 1.75rem;
	transition: 0.3s;
	text-align: center;
	letter-spacing: 0.025em;
	cursor: pointer;
	font-size: 0.9rem;
}

.btn-circle {
	width: 40px;
	height: 40px;
	display: flex;
	padding: initial;
	justify-content: center;
	align-items: center;
}

.btn-pill {
	border-radius: 10000px !important;
}

.btn-outline {
	background: transparent;
	border: 2px solid var(--bg);
	color: var(--bg);
}

.btn-actor {
	border-radius: 5px;
	color: var(--primary);
	background: transparent;
	padding: 0.575rem 0.85rem;
	border: 1px solid var(--light-gray);
}

.btn.btn-secondary {
	--bg: var(--secondary);
}

.btn.btn-tertiary {
	--bg: var(--dim-white);
	color: var(--gray);
}

.btn-empty {
	background: transparent;
	border: 1px solid var(--light-gray);
	color: var(--gray);
}

.btn-secondary.btn-glow {
	box-shadow: 0 0 35px rgba(252, 189, 1, 0.4);
}

.btn:focus {
	outline: lightblue;
	outline-offset: 2px;
}

.btn:not(.no-hover):hover {
	opacity: 0.6;
}

.btn.btn-tertiary:hover {
	opacity: 1;
	background: #d6d6d6;
}

.btn-split {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid var(--light-gray);
	height: max-content;
}

.btn-split button {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-split button.active {
	background: var(--dim-white);
	font-weight: 600;
}

.btn-split button + button {
	border-left: 1px solid var(--light-gray);
}

.btn-link {
	text-transform: capitalize;
	color: var(--gray);
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
}

.btn-link.current {
	color: var(--primary);
	font-weight: 600;
}

.card-bordered {
	border: 1px solid var(--light-gray);
	padding: 1.25rem;
	border-radius: 8px;
}

.card-bordered.active {
	background: #00345933;
}

.card-bordered.active .btn-actor {
	background: #0034591a;
	border: none;
	font-weight: 700;
}

.header-progress {
	display: flex;
	gap: 1rem;
	align-items: center;
	text-align: center;
}

.header-progress h4 {
	width: max-content;
}

.header-progress .line-check {
	max-width: 100px;
	color: var(--light-gray);
}

.header-progress-active,
.line-check.header-progress-active {
	color: var(--primary);
	font-weight: 600;
}

.line-check {
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line-check .icon {
	background: white;
	padding: 0.5rem;
}

.line-check::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: var(--light-gray);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
}

.line-check.header-progress-active::after {
	background: var(--primary);
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	border-radius: 8px;
	width: 100%;
	background: white;
	padding: 2rem;
	max-width: 600px;
}

.modal-header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal-header h2 {
	color: var(--black) !important;
	font-size: 1.25rem !important;
	font-weight: 600;
}

.modal-header .modal-close {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 50%;
	translate: 0 -50%;
}

.modal .header-progress {
	font-size: 0.875rem;
}

.carding {
	border: 1px solid var(--light-gray);
	border-radius: 8px;
	overflow: hidden;
}

.carding-content {
	padding: 1rem;
}

.carding-content h3 {
	font-size: 1.125rem;
	font-weight: 700;
	color: var(--primary);
}

.carding-content p {
	margin-top: 0.5rem;
	color: var(--gray);
}

.navigation-buttons {
	display: flex;
	gap: 1rem;
}

.navigation-buttons button {
	border: 1px solid var(--gray);
	color: var(--gray);
	text-transform: capitalize;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1000px;
	transition: 0.3s;
}

.navigation-buttons button:not(.inactive):hover {
	background: var(--gray);
	color: white;
}

.toggle-checkbox {
	display: block;
	width: 40px;
	height: 20px;
	border-radius: 1000px;
	border: 1px solid var(--primary);
	position: relative;
	transition: 0.3s;
}

.toggle-checkbox .circle {
	position: absolute;
	top: 50%;
	left: 2px;
	border-radius: 50%;
	background: var(--primary);
	width: 15px;
	height: 15px;
	translate: 0 -50%;
	transition: 0.3s;
}

.toggle-checkbox:has(input[type="checkbox"]:checked) {
	background: var(--primary);
}

.toggle-checkbox:has(input[type="checkbox"]:checked) .circle {
	background: var(--white);
}

.toggle-checkbox input[type="checkbox"]:checked + .circle {
	left: calc(100% - 15px - 2px);
}

.alert {
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.alert.primary {
	background: #d6e5fd
}

.alert.warning {
	background: #fff3d0;
}

.alert.danger {
	background: #ffe1e0;
}

/* class utils */

.split-item {
	display: flex;
}

.highlight {
	color: var(--primary) !important;
}

.accent {
	color: var(--accent) !important;
}

.secondary {
	color: var(--secondary) !important;
}

.muted {
	color: var(--gray);
}

.bold {
	font-weight: 700;
}

.semibold {
	font-weight: 600;
}

.medium {
	font-weight: 500;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-05 {
	gap: 0.5rem;
}

.gap-04 {
	gap: 0.4rem;
}

.ml-auto {
	margin-left: auto;
}

.underline {
	text-decoration: underline;
}

.w-100 {
	width: 100%;
}

.mt-05 {
	margin-top: 0.5rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-1-05 {
	margin-top: 1.5rem;
}

.mb-1-05 {
	margin-bottom: 1.5rem;
}

.mb-05 {
	margin-bottom: 0.5rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.uppercase {
	text-transform: uppercase;
}

.none {
	display: none;
}

.pointer {
	cursor: pointer;
}

.no-pointer {
	cursor: initial;
}

.text-center {
	text-align: center;
}

.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}

.italic {
	font-style: italic;
}
